ECOPICKUP_POSTGRES_DB=ecopickup_dev
ECOPICKUP_POSTGRES_USER=postgres
ECOPICKUP_POSTGRES_PASSWORD=postgres
ECOPICKUP_POSTGRES_PORT=5432
ECOPICKUP_MINIO_ROOT_USER=minioadmin
ECOPICKUP_MINIO_ROOT_PASSWORD=minioadmin
ECOPICKUP_MINIO_API_PORT=9000
ECOPICKUP_MINIO_CONSOLE_PORT=9001
